.home {
  padding: 60px 20px;
}

.home-card {
  max-width: 850px;
  margin: 0 auto;
  padding: 55px 30px;

  background: linear-gradient(135deg, #005baa, #083270);
  border-radius: 28px;
  box-shadow: var(--shadow);

  text-align: center;
}

.home-card h1 {
  color: white;
  font-size: 54px;
  margin: 0 0 20px;
  line-height: 1.15;
}

.home-card p {
  max-width: 600px;
  margin: 0 auto 35px;

  color: white;
  font-size: 22px;
  line-height: 1.5;
}

.home-btn {
  display: inline-block;

  background: white;
  color: #083270;

  text-decoration: none;
  font-weight: bold;

  padding: 14px 38px;
  border-radius: 28px;

  transition: 0.3s;
}

.home-btn:hover {
  background: #eaf4ff;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .home {
    padding: 25px 14px;
  }

  .home-card {
    padding: 45px 20px;
  }

  .home-card h1 {
    font-size: 34px;
  }

  .home-card p {
    font-size: 17px;
  }

  .home-btn {
    padding: 12px 26px;
    font-size: 15px;
  }
}